<app-header></app-header>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h2>Welcome John Smith</h2>
    </div>
  </section>
  <div class="card" *ngFor="let contact of contactService.getAll() | async">
    <div class="card-body">
      <div class="row">
        <div class="col-8 border-right">
          <h4>{{contact.lastName}} {{contact}}</h4>
        </div>
        <div class="col-4">
          <div class="btn-group btn-block">
            <button class="btn btn-primary" routerLink="/detail/{{contact.id}}">Show or edit</button>
            <button class="btn btn-danger" (click)="onClickRemove(contact.id)">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
